<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Devart.Data.Oracle"
        type="Devart.Data.Oracle.Entity.OracleEntityProviderServices,  Devart.Data.Oracle.Entity.EF6, Version=9.14.1312.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <add name="EmployeeMasterEntities"
      connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.96;initial catalog=Label_Print;user id=sa;password=Sql@server;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>